body{
    background-color: white;
}
.avaliacao-container {
    width: 50%; /* Reduz o tamanho da largura */
    margin: 4% auto; /* Centraliza horizontalmente e adiciona margem superior */
    padding: 20px;
    box-shadow: 1px 3px 7px rgb(107, 107, 107);
    border-radius: 8px;
    background: linear-gradient(90deg, rgba(87, 0, 201, 1) 0%, rgba(189, 138, 255, 1) 100%);
    color: white;
    text-align: center; /* Centraliza o texto dentro da div */
    margin-top: 150px;
  }
  
  h1 {
    font-size: 48px;
    font-weight: bold;
  }
  
  .avaliacao-stars {
    margin-bottom: 20px;
  }
  
  .stars {
    display: flex;
    gap: 10px;
    font-size: 50px;
    cursor: pointer;
    justify-content: center;
  }
  
  .star {
    color: #ccc;
    transition: color 0.3s;
  }
  
  .star.selected {
    color: #FFD700;
  }
  
  .avaliacao-descricao {
    margin-bottom: 15px;
  }
  label {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 15px;
    display: block;
  }

  textarea {
    width: 100%; 
    max-width: 100%; 
    height: 120px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 1px 3px 7px rgb(107, 107, 107);
    margin: 0 auto;
    display: block; 
  }
  textarea:focus {
    outline: none;
    border-color: #5700C9;
    box-shadow: 0 0 10px rgba(87, 0, 201, 0.5);
  }
  
  .avaliacao-submit {
    width: 100%;
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
  }
  
  .avaliacao-submit:hover {
    background-color: #45a049;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
