.container_geral_categorias {
  width: auto;
  margin: 4%;
}

#titulo_categorias {
  font-size: 48px;
  font-weight: bold;
}

.container_categorias {
  width: 100%;
  height: auto;
  margin-top: 3%
  
}

.lista_categorias {
  width: 95%;
  height: 200%;
  list-style: none;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.categoria_link {
  margin: 20px;
  flex: 1 1 calc(25% - 1.5rem); /* até 4 por linha com gap */
  min-width: 200px;
  max-width: 250px;
  height: 20vh;
  display: flex;
  justify-content: center;
  border-radius: 8px;
  text-decoration: none;
  box-shadow: 1px 3px 7px rgb(107, 107, 107);
  transition: box-shadow 0.21s ease;
}

.categoria_link:hover {
  box-shadow: 1px 3px 7px rgb(0, 0, 0.51);
  transition: box-shadow 0.21s ease;

}

.container_da_categoria {
  background: #5700C9;
  background: linear-gradient(90deg, rgba(87, 0, 201, 1) 0%, rgba(189, 138, 255, 1) 100%);
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: center;
  border-radius: 8px 8px 0px 0px;
}

.titulo_da_categoria {
  padding: 0px 1rem;
  margin-top: 10%;
  color: white;
  font-weight: 600;
}

.container_da_categoria {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 15px;
  text-align: center;
}

.titulo_da_categoria {
  margin-bottom: auto;
}

.icone_categoria {
  margin-top: auto;
  margin-bottom: 10px;
}

.icone_categoria svg {
  color: #fff;
  opacity: 0.8;
}