.contrato {
  padding: 2%;
  width: 100%;
  height: 10rem;
  display: flex;
  flex-direction: row;
  border-bottom: 2px solid #BEBEBE;
}

.info_contrato {
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-right: 1px solid #BEBEBE;
}

.titulo_contrato {
  font-size: 2rem;
  font-weight: 700;
  color: #404040;
}

.detalhes_contrato {
  color: #404040;
}


.botoes {
  display: flex;
  width: 25%;
  padding: 1%;
  align-items: flex-end;
  justify-content: center;
}

.botao_visualizar_contrato {
  width: 90%;
  border-style: none;
  height: 30%;
  border-radius: 15px;
  background: #5700C9;
  background: linear-gradient(90deg, rgba(87, 0, 201, 1) 0%, rgba(189, 138, 255, 1) 100%);
  font-size: 1.1rem;
  font-weight: 700;
  color: white;
}
