.modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.overlay {
    background: rgba(49,49,49,0.8);
}
.modal-content {
    display: flex;
    flex-direction: column;
    gap: 12%;
    width: 50%;
    height: 70%;
}

.nome-apelido, .tipo-servico, .label-tipo-servico {
    margin-top: 3%;
}

.nome-apelido, .tipo-servico {
    border: none;
    background-color: rgb(237, 237, 237);
    width: 80%;
    height: 40%;
    border-radius: 10px;
    text-align: start;
    padding: 10px;
    display: flex;
    padding-left: 1%;
}

.close-modal {
    position: absolute;
    top: 3%;
    right: 3%;
    padding: 5px 7px;
    background-color: transparent;
    border: none;
    font-size: large;
    font-weight: bold;

}

.modal {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  .modal-content {
    background: white;
    padding: 2rem;
    border-radius: 10px;
    position: relative;
  }
  .overlay {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
  }
  
.submit-modal {
    margin-top: 3%;
    border: none;
    width: 15%;
    height: 15%;
    background: #36227F;
    background: linear-gradient(90deg, rgb(68, 45, 154) 0%, rgba(142, 60, 229, 1) 100%);
    border-radius: 15px;
    color: white;
    font-size: medium;
    font-weight: 600;
}